$backgroundColor: #f6f4fa;
$cardColor: #ddd8ed;
$textColor: #003d66;
$boxShadowColor: #c7bee1;
$buttonColor: #001f33;

.nav-bar {
    border-bottom: $boxShadowColor;
    background-color: $cardColor;
}

.logout-button {
    float: right;
}
